# Groq API
# Получи ключ на: https://console.groq.com/keys
GROQ_API_KEY=your_groq_api_key_here

# Модель
GROQ_MODEL=llama-3.1-8b-instant

# Путь к локальной BERT модели
BERT_MODEL_PATH=./fakescope_finetuned

# Приложение (Flask)
FLASK_DEBUG=False
FLASK_ENV=production
